:root{
    font-family: arial system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    box-sizing: content-box;
}

*:not(dialog, dialog[open]){
    padding:0;
    margin:0;
}

body{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #008DDA, #41C9E2, #ACE2E1, #f7eedd);
}

header#header{
    height:80vh;
    background-color: red;
    /* background: url('./images/edgar-castrejon-oranges.jpg') */
}

header > nav#nav{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%, .5);
    padding: 0 0 0 100px;
}

nav *{
    font-size: 17px;
}

nav#nav > h3{
    
    align-self: center;
    margin : 0 auto 0 0; 
    transition: .3s;
    cursor:pointer;
}

#nav > h3:hover{
    scale:1.1;
}
#nav > h3:active{
    scale:1
}

nav > section:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:0 30px 0 0;
}

nav > section:first-of-type button{
    background-color: rgba(255, 255, 255, .5);
    border:none;
    border-radius:50%;
    padding:7px;
    cursor: pointer;
    transition:.25s;
}


nav > section:last-child{
    /* background-color: red; */
    padding:0px 70px 0px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    gap:20px;

}

nav  > section:last-child > button{
    padding:0 20px;
    height: 100%;
    background-color: rgb(246, 255, 227,0);

    border:none;

    
    cursor:pointer;
    font-weight: bold;
    transition:.25s
}

nav > section:first-of-type > button:hover{
    background-color: hsl(120, 73%, 75%, .7);
    transform: scale(1.3);
}

nav > section:last-child > button:hover{
    background-color: hsl(120, 73%, 75%, .7);
    transform: scale(1.08);
}


nav#nav > section > button:active{
    transform: scale(0.95);
}